@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal> {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


/* navbar portion */
.navbar
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.navbar .btn
{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}


/* hero portion start here */
.hero
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 300px;
    margin: 20px auto;
    border-radius: 10px;
    background: rgb(198, 228, 214);
    padding: 30px;
}
.explore-btn
{
    color: rgb(255, 255, 255);
    font-family:Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 3px;
    background: rgb(0, 106, 80);
    border: none;
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30;
    padding: 10px 15px 10px 15px;
    margin: 24px 25px;
}

/* pillars portion start here */
.pillar-of-bd
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    
   
    
  }
  
  .pillar {
   
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    
  }
  
  .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  .pill
  {
    display: inline;
    margin-left: 150px;
  }


/* vision of Bangladesh Portion  */
#the-vision
{
    width: 1024px;
    height: 700px;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 0px;
    margin: 0 auto;
    font-family: Fira sans;
    
}
.card-container
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
    
}
.card-container .heading
{
    display: flex;
    margin: auto;

}
.box-1
{
    position: static;
    width: 328px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(84, 144, 245, 0.2);
    margin-right: 15px;
}
.box-2
{
    position: static;
    width: 328px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgb(198, 228, 214);
    margin-right: 15px;
}
.box-3
{
    position: static;
    width: 328px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgb(247, 235, 207);
}
.box-1 .btn-1{
  
    position: static;
    width: 95px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
    background: rgb(84, 144, 245);
    border: none;
}
.box-2 .btn-2{
  
    position: static;
    width: 95px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
    background: rgb(9, 161, 92);
    border: none;
    
}
.box-3 .btn-3{
  
    position: static;
    width: 95px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
    background: rgb(255, 194, 57);
    border: none;

}
.explore-btn:hover
{
    background-color: #b3d9ff;
    cursor: pointer;
}
.btn-1:hover 
{
    background-color: #0dea8a;
    cursor: pointer;
    

}
.btn-2:hover {
    background-color: antiquewhite;
    cursor: pointer;
}
.btn-3:hover 
{
    background-color: bisque;
    cursor: pointer;
}

.quote 
{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
.quotation
{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
}

/* recent news portion */

.recent-news
{
    border-radius: 24px;
    width: 1024px;
    height: 620px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.sat-container 
{
    display: flex;

}
.satellite-img
{
    margin: 10px 0px 0px 10px;

}
.sat-container .description
{
    margin: 0 20px;
}

.read-more-btn
{
  
    
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background: rgb(0, 106, 80);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
  
    }
.read-more-btn:hover
{
    background-color: #204e7c;
    cursor: pointer;

}
 

/* donate portion */
.container {
    width: 1024px;
    margin: 400px 0px 50px 250px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .btn-all {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

  }
  
  .option {
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    background-color: #13e258;
    color: #333;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #b3d9ff;
  }
  
  .amount {
    margin-bottom: 20px;
  }
  
  .amount input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .done-btn {
    display: block;
    width: 150px;
    margin: 0px 500px;
    padding: 15px;
    background-color: hsl(101, 91%, 35%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .done-btn:hover {
    background-color: #3e8e41;
  }

/* newsletter portion start here */

.newsletter
{
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
    line-height: 1.5;
}

.form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 350px;
}

button {
    background-color: #3c9966;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.foot {
    font-size: 20px;
    color: #555;
}
.Submit:hover
{
   background-color: rgb(179, 187, 185);
   cursor: pointer;
   
}
/* footer portion start here */
footer
{

    width: 850px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32;
    padding: 50px 160px 50px 160px;
    margin: auto;
    background: rgb(255, 255, 255);
   
}

.bangla
{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.images
{
    display: flex;
    margin: 25px;
    gap: 20px;
}
